Source: sctpscan
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0), libglib2.0-dev
Standards-Version: 3.9.3
Homepage: https://github.com/philpraxis/sctpscan
Vcs-Git: ssh://git@git.kali.org/packages/sctpscan.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/sctpscan.git;a=summary

Package: sctpscan
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SCTP network scanner for discovery and security
 SCTP network scanner for discovery and security
